  .page {
    /* width: 100%; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border: 2px solid black;
  }

  .pageHeader {
    border: 2px solid black;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: 800;
    font-size: 22px;
  }
